* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(211, 50, 168);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    border-radius: 0.3rem;
    box-shadow: 0.3rem .3rem 0.3rem rgba(0, 0, 0, 0.3);
    width: 25rem;
    max-width: 100%;
}

.title {
    color: #333;
    padding: 1.5rem 2.5rem;
    border-bottom: 1px solid #ddd;
}

.form {
    padding: 2rem 2.5rem;
}

.form-box {
    margin-bottom: 0.9rem;
    padding-bottom: 1.5rem;
    position: relative;
}

.form-box label {
    display: inline-block;
    margin-bottom: 0.3rem;
}

.form-box input {
    border: 0.125rem solid #ddd;
    display: block;
    padding: 0.5rem;
    width: 100%;
    outline: none;
}

.form-box.success input {
    border-color: #2ecc71;
}

.form-box.success i.fa-check {
    color: #2ecc71;
    visibility: visible;
}

.form-box.error input {
    border-color: #e74c3d;
}

.form-box.error i.fa-times {
    color: #e74c3d;
    visibility: visible;
}

.form-box i {
    position: absolute;
    top: 2.2rem;
    right: 0.625rem;
    visibility: hidden;
}

.form-box p {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-box.error p {
    color: #e74c3d;
    visibility: visible;
}

.btn {
    background: rgb(211, 50, 168);
    border: 0.125rem solid rgb(189, 44, 150);
    border-radius: 0.2rem;
    color: #fff;
    display: block;
    font-size: 1rem;
    padding: 0.625rem;
    width: 100%;
    outline: none;
    cursor: pointer;
}